flow/Flow victron available power.json
[
    {
        "id": "0ef58b8decb36080",
        "type": "tab",
        "label": "Flow victron available power",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1f1711b69ad0f69e",
        "type": "debug",
        "z": "0ef58b8decb36080",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 180,
        "wires": []
    },
    {
        "id": "828d344ae593c4fd",
        "type": "mqtt in",
        "z": "0ef58b8decb36080",
        "name": "Fronius PV",
        "topic": "N/00e93aac4269/pvinverter/20/Ac/Power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c0fb7ba4fc7e46da",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 180,
        "wires": [
            [
                "1f1711b69ad0f69e",
                "009c90dcd18e9c0a"
            ]
        ]
    },
    {
        "id": "aa4435bce59c74f1",
        "type": "mqtt in",
        "z": "0ef58b8decb36080",
        "name": "Victron PV",
        "topic": "N/00e93aac4269/system/0/Dc/Pv/Power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c0fb7ba4fc7e46da",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 240,
        "wires": [
            [
                "a0c3c0385e3a8150",
                "334a2b8b51bdc134"
            ]
        ]
    },
    {
        "id": "a0c3c0385e3a8150",
        "type": "debug",
        "z": "0ef58b8decb36080",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 240,
        "wires": []
    },
    {
        "id": "d7a6d8d8528561e0",
        "type": "debug",
        "z": "0ef58b8decb36080",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 340,
        "wires": []
    },
    {
        "id": "f239fcf065d0b944",
        "type": "change",
        "z": "0ef58b8decb36080",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload.value)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 360,
        "wires": [
            [
                "bc7929ca97131105"
            ]
        ]
    },
    {
        "id": "334a2b8b51bdc134",
        "type": "json",
        "z": "0ef58b8decb36080",
        "name": "object",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 490,
        "y": 360,
        "wires": [
            [
                "f239fcf065d0b944"
            ]
        ]
    },
    {
        "id": "1197cd450816d43d",
        "type": "change",
        "z": "0ef58b8decb36080",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload.value)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 300,
        "wires": [
            [
                "bc7929ca97131105"
            ]
        ]
    },
    {
        "id": "009c90dcd18e9c0a",
        "type": "json",
        "z": "0ef58b8decb36080",
        "name": "object",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 490,
        "y": 300,
        "wires": [
            [
                "1197cd450816d43d"
            ]
        ]
    },
    {
        "id": "c74131a10ed09e91",
        "type": "mqtt in",
        "z": "0ef58b8decb36080",
        "name": "AC Loads L1",
        "topic": "N/00e93aac4269/system/0/Ac/ConsumptionOnOutput/L1/Power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c0fb7ba4fc7e46da",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 600,
        "wires": [
            [
                "f46cf3380fd14014"
            ]
        ]
    },
    {
        "id": "88da6015f0509007",
        "type": "mqtt in",
        "z": "0ef58b8decb36080",
        "name": "BatterySOC",
        "topic": "N/00e93aac4269/vebus/276/Soc",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c0fb7ba4fc7e46da",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 460,
        "wires": [
            [
                "282b05c7f91831b5"
            ]
        ]
    },
    {
        "id": "9ff70f6ca983eb4e",
        "type": "debug",
        "z": "0ef58b8decb36080",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 440,
        "wires": []
    },
    {
        "id": "adeb41c864918d2c",
        "type": "mqtt in",
        "z": "0ef58b8decb36080",
        "name": "Grid Load",
        "topic": "N/00e93aac4269/vebus/276/Ad/ActiveIn/P",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c0fb7ba4fc7e46da",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 520,
        "wires": [
            [
                "98a877905fd51590"
            ]
        ]
    },
    {
        "id": "98a877905fd51590",
        "type": "debug",
        "z": "0ef58b8decb36080",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 520,
        "wires": []
    },
    {
        "id": "56fbca3def77d4cc",
        "type": "mqtt in",
        "z": "0ef58b8decb36080",
        "name": "AC Loads L2",
        "topic": "N/00e93aac4269/system/0/Ac/ConsumptionOnOutput/L2/Power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c0fb7ba4fc7e46da",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 660,
        "wires": [
            [
                "fd55206f6aeb4843"
            ]
        ]
    },
    {
        "id": "add99ec03d4a2136",
        "type": "mqtt in",
        "z": "0ef58b8decb36080",
        "name": "AC Loads L3",
        "topic": "N/00e93aac4269/system/0/Ac/ConsumptionOnOutput/L3/Power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c0fb7ba4fc7e46da",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 720,
        "wires": [
            [
                "2aa1e088e66c4f3a"
            ]
        ]
    },
    {
        "id": "9e6be1568f2ef291",
        "type": "change",
        "z": "0ef58b8decb36080",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload.value)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 660,
        "wires": [
            [
                "bad1176e31659f3a",
                "23ac8701eab4d5aa"
            ]
        ]
    },
    {
        "id": "fd55206f6aeb4843",
        "type": "json",
        "z": "0ef58b8decb36080",
        "name": "object",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 490,
        "y": 660,
        "wires": [
            [
                "9e6be1568f2ef291"
            ]
        ]
    },
    {
        "id": "eb6238eb15a0a36c",
        "type": "change",
        "z": "0ef58b8decb36080",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload.value)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 600,
        "wires": [
            [
                "bad1176e31659f3a",
                "122d51f55c9ec80e"
            ]
        ]
    },
    {
        "id": "f46cf3380fd14014",
        "type": "json",
        "z": "0ef58b8decb36080",
        "name": "object",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 490,
        "y": 600,
        "wires": [
            [
                "eb6238eb15a0a36c"
            ]
        ]
    },
    {
        "id": "6050b62d58b42034",
        "type": "change",
        "z": "0ef58b8decb36080",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload.value)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 720,
        "wires": [
            [
                "bad1176e31659f3a",
                "2cb9a55c7b5e7bfc"
            ]
        ]
    },
    {
        "id": "2aa1e088e66c4f3a",
        "type": "json",
        "z": "0ef58b8decb36080",
        "name": "object",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 490,
        "y": 720,
        "wires": [
            [
                "6050b62d58b42034"
            ]
        ]
    },
    {
        "id": "bdea2320076d11ce",
        "type": "debug",
        "z": "0ef58b8decb36080",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 680,
        "wires": []
    },
    {
        "id": "637903227b7a254f",
        "type": "function",
        "z": "0ef58b8decb36080",
        "name": "Available power",
        "func": "switch (msg.topic) {\n    case \"totalPVpower\":\n        flow.set(\"pvpower\", msg.payload);\n        break;\n    case \"totalACpower\":\n        flow.set(\"acpower\", msg.payload);\n        break;\n    case \"battcharge\":\n        global.set(\"battcharge\", msg.payload);\n        break;\n    default:\n    \tbreak;\n}\nvar battcharge = global.get(\"battcharge\");\nvar pvpower = flow.get(\"pvpower\");\nvar acpower = flow.get(\"acpower\");\nmsg.payload = Math.round(pvpower - acpower);\nmsg.topic = \"availablepvpower\"\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"pvpower\", 0)\nflow.set(\"acpower\", 0)\nflow.set(\"battcharge\", 0)\n",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 500,
        "wires": [
            [
                "db0b8e438615ce38",
                "fd125c655cba31dd"
            ]
        ]
    },
    {
        "id": "db0b8e438615ce38",
        "type": "debug",
        "z": "0ef58b8decb36080",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 500,
        "wires": []
    },
    {
        "id": "f364d808996acbf9",
        "type": "debug",
        "z": "0ef58b8decb36080",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1560,
        "y": 440,
        "wires": []
    },
    {
        "id": "811aad858bc0b3e3",
        "type": "change",
        "z": "0ef58b8decb36080",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload.value)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "battcharge",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 460,
        "wires": [
            [
                "9ff70f6ca983eb4e",
                "637903227b7a254f"
            ]
        ]
    },
    {
        "id": "282b05c7f91831b5",
        "type": "json",
        "z": "0ef58b8decb36080",
        "name": "object",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 630,
        "y": 460,
        "wires": [
            [
                "811aad858bc0b3e3"
            ]
        ]
    },
    {
        "id": "823c5e5e9dfa164f",
        "type": "rbe",
        "z": "0ef58b8decb36080",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1610,
        "y": 520,
        "wires": [
            [
                "ab05bcf579417795"
            ]
        ]
    },
    {
        "id": "1651918da5207fd1",
        "type": "debug",
        "z": "0ef58b8decb36080",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2080,
        "y": 520,
        "wires": []
    },
    {
        "id": "fd125c655cba31dd",
        "type": "binsoul-statistics",
        "z": "0ef58b8decb36080",
        "outputMethod": "mean",
        "slotCount": "10",
        "slotResolutionNumber": "3",
        "slotResolutionUnit": "seconds",
        "slotMethod": "mean",
        "interpolation": "stepAfter",
        "precision": "0",
        "output1Frequency": "changes",
        "output2Frequency": "never",
        "inputValueProperty": "payload",
        "inputValueSource": "msg",
        "inputTimestampProperty": "",
        "inputTimestampSource": "date",
        "output1ValueProperty": "payload",
        "output1ValueTarget": "msg",
        "output2ValueProperty": "payload",
        "output2ValueTarget": "msg",
        "updateMode": "never",
        "updateFrequency": 5,
        "name": "",
        "outputs": 1,
        "x": 1350,
        "y": 440,
        "wires": [
            [
                "f364d808996acbf9",
                "823c5e5e9dfa164f"
            ]
        ]
    },
    {
        "id": "bc7929ca97131105",
        "type": "sum",
        "z": "0ef58b8decb36080",
        "name": "PV power",
        "topic": "totalPVpower",
        "x": 880,
        "y": 340,
        "wires": [
            [
                "d7a6d8d8528561e0",
                "637903227b7a254f"
            ]
        ]
    },
    {
        "id": "bad1176e31659f3a",
        "type": "sum",
        "z": "0ef58b8decb36080",
        "name": "AC power out",
        "topic": "totalACpower",
        "x": 960,
        "y": 660,
        "wires": [
            [
                "bdea2320076d11ce",
                "637903227b7a254f"
            ]
        ]
    },
    {
        "id": "ab05bcf579417795",
        "type": "change",
        "z": "0ef58b8decb36080",
        "name": "Store mean available wats",
        "rules": [
            {
                "t": "set",
                "p": "mean_availablepvpower",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1840,
        "y": 520,
        "wires": [
            [
                "1651918da5207fd1"
            ]
        ]
    },
    {
        "id": "122d51f55c9ec80e",
        "type": "change",
        "z": "0ef58b8decb36080",
        "name": "Phase1Load",
        "rules": [
            {
                "t": "set",
                "p": "Phase1Load",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "23ac8701eab4d5aa",
        "type": "change",
        "z": "0ef58b8decb36080",
        "name": "Phase2Load",
        "rules": [
            {
                "t": "set",
                "p": "Phase2Load",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "2cb9a55c7b5e7bfc",
        "type": "change",
        "z": "0ef58b8decb36080",
        "name": "Phase3Load",
        "rules": [
            {
                "t": "set",
                "p": "Phase3Load",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "c0fb7ba4fc7e46da",
        "type": "mqtt-broker",
        "name": "Install Victron offgrid",
        "broker": "192.168.0.138",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]